@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", serif;
}
html, body {
    height: 100vh;
}
body {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
label {
    font-weight: 700;
    color: white;
    display: block;
    text-align: center;
    margin-top: 25px;
}
#cityName {
    width: 90%;
    max-width: 400px;
    min-width: 300px;
    padding: 10px 18px;
    border-radius: 25px;
    border: none;
    background-color: white;
    outline : none;
    font-size: 15px;
}
.search {
    position: relative;
}
.box {
    width: 90%;
    max-width: 400px;
    min-width: 300px;
}
a {
    position: absolute;
    right: 50px;
    top: 5px;
    font-size: 22px;
    cursor: pointer;
}
#result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: white;
    font-weight: 700;
    overflow-wrap: normal;
    text-align: center;
}
.weather-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 200px;
    padding: 25px;
    border-radius: 20px;   
}
.weather-result h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    margin: 5px 0px;
}